/* flash message */
/* error and info messages */
.global-info {
    border: 1px solid green;
    color: green;
    padding: 2px 3px;
    margin: 0 0 0.5em;
    background-color: #BAFFBA;
}

.global-error {
    border: 1px solid red;
    color: red;
    padding: 2px 3px;
    margin: 0 0 0.5em;
    background-color: #F9CBBB;
}